.productCartWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-bottom: 40px;
    border: 1px solid black;
}

.cartProducName {
    font-size: 15px;
    min-width: 290px;
}

.cartProductQty {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    align-items: center;
}

.cartProductImage {
    max-height: 50px;
}

.incrementAndDecrementButtons {
    padding: 5px;
}
