.productCartWrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 40px;
    /* border: 1px solid black; */
    padding: 10px 10px 10px 10px;
    box-shadow: rgba(40, 80, 82, 0.25) 0px 14px 28px, rgba(40, 80, 82, 0.22) 0px 10px 10px;
}

.cartImageWrapper {
    min-width: 100px;
}

.cartProducName {
    font-size: 15px;
}

.cartProductQty {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    align-items: center;
}

.cartProductImage {
    max-height: 80px;
    max-width: 80px;
    margin-right: 20px;
}

.incrementAndDecrementButtons {
    padding: 5px;
}

.productCartDeleteBtn {
    margin-left: 20px;
    margin-right: 20px;
}

.orderBtnWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.orderBtn {
    background-color: rgb(40, 80, 82);
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 20px 10px 20px;
}
